html {
  font: normal 100%/1.5 geordia,serif;
}
body
{
  background-image: url("../images/bg8.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
 
}

.box{
  width: 410px;
  border: 5px solid white;
  background: none;
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 4%;
  margin-left: 27%;
  color: white;
  font-family: 'times new roman',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.box h1{

  color: #b58e62;
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box p{
  font-family: Courier new;
  letter-spacing: 3px;
  text-align: justify;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}


/*ABOUT*/

.box1{
  width: 450px;
  border: 5px solid white;
  background: none;
  padding: 50px;
  text-align: center;
  margin: auto;
  margin-top: 4%;
  margin-left: 27%;
  color: white;
  font-family: Courier new;
}
.box-img1{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.box1 h1{
  color: black;
  font-size: 20px;
  background: white;
  width: 450px;
  height: 30px;
}

.box1 p{
  letter-spacing: 3px;
  text-align: justify;
}
.box1 b{
  color: black;
}
ul{
  margin: 0;
  padding: 0;
}
.box1 li{
  display: inline-block;
  margin: 2px;
  list-style: none;
}
.box1 li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box1 li a:hover{
  color: #b9b9b9;
}

/*EDUCATIONAL*/

.box2{
  width: 450px;
  border: 5px solid white;
  background: none;
  padding: 50px;
  text-align: center;
  margin: auto;
  margin-top: 4%;
  margin-left: 27%;
  color: white;
  font-family: Courier new;
}
.box-img2{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.box2 h1{
  color: black;
  font-size: 20px;
  background: white;
  width: 450px;
  height: 30px;
}

.box2 p{
  letter-spacing: 1px;
  text-align: justify;
}
.tab1 {
  letter-spacing: 0;
  font-size: 11px;
}
.box2 b{
  color: black;
}
.box2 pre{
  font-size: 16px;
  font-family: Courier new;
  margin-bottom: 5px;
}
ul{
  margin: 0;
  padding: 0;
}
.box2 li{
  display: inline-block;
  margin: 2px;
  list-style: none;
}
.box2 li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box2 li a:hover{
  color: #b9b9b9;
}




/*CONTACTS*/

.box3{
  height: 400px;
  width: 425px;
  border: 5px solid white;
  background: none;
  padding: 50px;
  text-align: center;
  margin: auto;
  margin-top: 4%;
  margin-left: 27%;
  color: white;
  font-family: Courier new;
}
.box-img3{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.box3 h1{
  color: black;
  font-size: 20px;
  background: white;
  width: 450px;
  height: 30px;
  margin-top: 20px;
}


.box3 ul {

    position: absolute;
    top: 68%;
    left: 45%;
    transform: translate(-50%, -50%);
    display: flex;
    margin-top: 50px;
}

.box3 ul li {
  list-style: none;
  margin: 0 15px ;

}

.box3 ul li .fa {
  font-size: 30px;
  line-height: 50px;
  transition: .8s;
  color: #000;
}
.box3 ul li .fa:hover {
  background-color: none;
}

.box3 ul li a{
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%
  background-color: #fff; 
  text-align: center;
  transition: .8s;
  box-shadow: 0.5px 4px black;
}









header {
  background-color: none;
  padding: 1em 0;
}
h1 {
  margin: 0;
  text-align: center;
}
.nav {
  margin: 0;
  padding: 0;
  list-style-type: none; 
  text-align: center;
}
.nav li {
  display: inline-block;

}

.nav a {
  color: black;
  display: inline-block;
  padding: 1.5em 1.75em;
  background-color: #decdb9;
  border-radius: 4px;
  text-decoration: none;
}

.nav a:hover {
  background-color: white;
}

.nav .current {
  background-color: #ceb396;
} 
